* {
    box-sizing: border-box;
  }
body {
    width: 960px;
    margin:auto;
    line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
}
header{
    background-color: rgb(95, 95, 95);
    height: 70px;
    margin-bottom: 30px;
    width: 100%

}

header nav a{
    text-decoration: none;
    color: black;
    padding: 25px 55px;
    float: right;
    
}
header img {
    float: left;
}
article {
    margin-bottom: 30px;
}
main section img{
    width: calc(33%);
    margin-bottom: 30px;
}
main div p {
    display: inline-block;
    float: right;
    width: 460px;
    height: 175px;
    margin-left: 20px;
    overflow: scroll;
}
main div {
    margin-bottom: 50px;
}
main div img {
    float: left;
    width: 460 px;
}
button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
}
footer {
    height: 70px;
    background-color: gray;
}
